<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <trust level="Full"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <machineKey validationKey="102E3AEBAE7E038026A2FC03BB9C9E840D89BCE7F97C5BF3F7646D8FED2ED3A9BDE649EB979F73FFB0667EF51C0FFA3C47B93E2EFA389C5970C673426EC7B9E4" decryptionKey="DE6B11F612A5312B11D51A2C2D8AB4915CE3B4B8D9DB809DC06A4FA7A9ED5ED9" validation="SHA1" decryption="AES" />
  </system.web>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>


</configuration>